---
import Layout from '../layouts/Layout.astro';


---

<Layout>
	<main>
		This is the one piece page content
	</main>

	<style>
		main {
			padding: 20px;
			text-align: center;
			font-size: 1.2em;
			height: 80vh;
		}
	</style>
</Layout>
